<script lang="ts">
    import { goto, onNavigate } from "$app/navigation";
    import Sidebar from "$lib/layout/sidebar/sidebar.svelte"
    import "../../app.css"
    import { page } from "$app/stores";
    import { verifyToken} from "$lib/services/login.service"
    import { onMount } from "svelte";
    onMount(async()=>{
      checkLogin()
    })

    async function checkLogin(){
        const auth =await verifyToken(localStorage.getItem("Auth")!)
        if(!localStorage.getItem("Auth") || !auth){
          console.log("logout")
          localStorage.removeItem("Auth")
              goto("/login-face")
        }
        else {
          if($page.url.pathname==="/"){
              goto("/dashboard")
          }
        }
  }
</script>


<div class="flex w-full h-full min-h-screen " >

  <div class=" md:flex hidden">
    <Sidebar />
  </div>

  <div class="main dark:bg-primary-dark flex-1 p-6">
    <slot />
  </div>
</div>


<style lang="postcss">
@screen md {
  .main{
overflow: auto;
          margin-left: 230px;
  }
  
}
</style>


