<script>
    import { goto } from "$app/navigation";

  const logout = () => {
    localStorage.removeItem("Auth")
    goto("/login-face")
  }
</script>
<button on:click={logout} class="button_type_1 mx-6 mb-5">Logout</button>
