  <script lang="ts">
    import { page } from "$app/stores";
    import { onMount } from "svelte";


  import MdHome from "svelte-icons/md/MdHome.svelte";
  import MdLocalPostOffice from 'svelte-icons/md/MdLocalPostOffice.svelte'

  onMount(()=>{
  })
  
  </script>
  <div class=" flex gap-1 flex-col ">
  <a class:dark:bg-primary-dark={$page.url.pathname.includes('/dashboard')} class="flex px-3 gap-2 content-center p-3 font-bold  dark:text-light" href="/dashboard">
     <div class="w-5 flex content-center dark:text-accent-2">
       <MdHome />
     </div> 
      Dashboard
  </a>
  <a class:dark:bg-primary-dark={$page.url.pathname.includes('/logging')} class="flex px-3 gap-2 content-center p-3 font-bold  dark:text-light" href="/logging" >
     <div class="w-5 flex content-center dark:text-accent-2">
       <MdLocalPostOffice/>
     </div> 
     Logging
  </a>
  </div>
