<script>
import postcss from "postcss";
import SensorCount from "./sensorCount.svelte";
import StatusPanel from "./statusPanel.svelte";
import NavigationMenu from "./navigationMenu.svelte";
import UserInfo from "./userInfo.svelte";
    import Logout from "./Logout.svelte";
</script>
<div class=" border-r-0 text-sm border-r-secondary-dark  dark:bg-secondary-dark sidebar flex flex-col justify-between">
  <div class="flex flex-col">
    <SensorCount count={1}/>
    <StatusPanel />
    <UserInfo />
    <NavigationMenu />
  </div>
  <Logout />
</div>


<style>
.sidebar {
  width: 240px;
  position: fixed;
  bottom: 0;
  top: 0;
}
</style>





