<script lang="ts">
    import { onMount ,onDestroy} from "svelte";
    import { writable, type Writable } from "svelte/store";
    import * as env from "$lib/variables"
  let cpu:Writable<any> = writable()
  let ram:Writable<any> = writable()
  let interval: NodeJS.Timer
  onDestroy(()=>{
    clearInterval(interval)
  })
  onMount(async()=>{
    interval=setInterval(()=>{
        fetch(`${env.HTTP_PROTOCOL}://${env.API_URL}/cpu`).then(res=>((res.text()))).then((data)=>cpu.set(data))
        fetch(`${env.HTTP_PROTOCOL}://${env.API_URL}/ram`).then(res=>((res.text()))).then((data)=>ram.set(data))
    }
    ,2000)
    
  })
</script>



<div class="flex px-4 py-4  flex-col">
  <div class="dark:text-text-dark font-bold pb-2">Status</div>
  <div class="flex flex-col ms-2">

    <div class="flex gap-3 items-center">
      <div class="rounded-full dark:bg-success w-3 h-3"></div> 
      <div class="dark:text-text-dark font-semibold">
      Active
      </div>
    </div> 

    <div class="flex  gap-3 items-center">
      <div class="rounded-full dark:bg-success w-3 h-3"></div> 
      <div class="dark:text-text-dark font-semibold">
      Memory usage {$ram}%
      </div>
    </div> 

    <div class="flex gap-3 items-center">
      <div class="rounded-full dark:bg-success w-3 h-3"></div> 
      <div class="dark:text-text-dark font-semibold">
      Cpu load {$cpu}%
      </div>
    </div> 

  </div>
</div>
<div class="flex flex-col items-center w-full">

  <div class="dark:bg-accent-2 h-[1px] w-[90%] mb-5"></div>

</div>
