
<script lang="ts">
    import { onMount } from 'svelte';
  import FaRegUserCircle from 'svelte-icons/fa/FaRegUserCircle.svelte'
  $: username=''
  onMount(() => {
    username=localStorage.getItem("Username")!
  })
</script>

<div
class=" h-12 flex items-center justify-start px-3 gap-3 my-2  dark:text-text-dark font-bold"
>
<div class="w-6 h-6 dark:text-accent-1">
  <FaRegUserCircle /> 
</div>
  {username}
</div>
