<script lang="ts">
  import MdArrowUpward from 'svelte-icons/md/MdArrowUpward.svelte'
  import MdArrowDownward from 'svelte-icons/md/MdArrowDownward.svelte'
  export let type:string;
  export let adjective: 'high' | 'low'
  export let when:string
  export let isNow:boolean
</script>
<div class:dark:bg-hot={adjective==='high' && isNow}
class:dark:bg-cold={adjective==='low' && isNow} class:dark:bg-primary-dark={!isNow} class="shadow-xl rounded-lg dark:text-text-dark px-3 py-1 flex justify-between text-sm gap-1 whitespace-normal items-center">
  <div class="flex items-center gap-1">
    {#if adjective==='high'}
      <div class="h-4 ">
        <MdArrowUpward />
      </div>
    {:else}
      <div class="h-4 ">
        <MdArrowDownward/>
      </div>
    {/if}
    {type} too {adjective}  
    </div>
  <div class="text-xs">
     {when}
  </div>
</div>
