<script lang="ts">
    import { derived, writable } from "svelte/store";
    import AlertItem from "./alert-item.svelte";
    import {getAlerts} from "$lib/services/alerts.service"
    import { onMount } from "svelte";
    let alerts = writable<any[]>([])
    onMount(async () => {
      getAlerts(alerts)
    })
    let tempAlerts = derived(alerts, ($alerts) => {
      return $alerts.filter((alert) => alert.alertType === "Temperature")
    })
    let humAlerts = derived(alerts, ($alerts) => {
      return $alerts.filter((alert) => alert.alertType === "Humidity")
    })
    function getTimeDelta(alert:any):string{
      if (alert.alertEnd==="0001-01-01T00:00:00Z"){
        return "Now"
      }
      let now = new Date()

      let then = new Date(alert.alertEnd)
      let delta = now.getTime() - then.getTime()
      const minutes = Math.floor(delta / 60000); // 1 minute = 60,000 milliseconds
        const hours = Math.floor(minutes / 60);

        if (minutes < 1) {
          return 'Just now';
        } else if (minutes === 1) {
          return '1 minute ago';
        } else if (minutes < 60) {
          return `${minutes} minutes ago`;
        } else if (hours === 1) {
          return '1 hour ago';
        } else {
          return `${hours} hours ago`;
        }
    }
    function isNow(alert:any):boolean{
      if (alert.alertEnd==="0001-01-01T00:00:00Z"){
        return true
      }
      return false
    }
    let some = derived(alerts, ($alerts) => {
      return $alerts.length > 0
    })

</script>

<div class="rounded-lg w-full flex-1 h-full flex flex-col dark:bg-secondary-dark p-3 px-4 shadow-xl">
  {#if $some}
    <div class="flex gap-2  flex-1">
      <div class="flex-1 flex flex-col overflow-y-auto gap-2 border-0 p-2  dark:border-primary-dark rounded-lg">
        <div class="dark:text-text-dark font-bold text-sm">Alerts temperature</div>
        {#each $tempAlerts as alert}
          <AlertItem isNow={isNow(alert)} adjective={alert.alertEvent} type={alert.alertType} when={getTimeDelta(alert)} />
        {/each}
      </div>
      <div class="flex-1 flex flex-col gap-2 overflow-y-auto border-0 dark:border-primary-dark p-2 rounded-lg">
        <div class="dark:text-text-dark font-bold text-sm">Alerts humidity</div>
        {#each $humAlerts as alert}
          <AlertItem isNow={isNow(alert)} adjective={alert.alertEvent} type={alert.alertType} when={getTimeDelta(alert)} />
        {/each}
      </div>
    </div>
  {:else}
    <div class="flex items-center justify-center h-full">
      <div class="dark:text-accent-2 font-bold text-xl">All measurments nominal</div>
    </div>
  {/if}
</div>
