<script lang="ts">

    import { onMount } from "svelte";
    import DashboardHeader from "$lib/dashboard/dashboard-header.svelte";
    import Tiles from "$lib/dashboard/tiles/tiles.svelte";
    import GraphAndStatsTile from "$lib/dashboard/graph-and-stats-tile.svelte";
    import { writable, type Writable } from "svelte/store";
    import TeamSelector from "$lib/dashboard/team-selector/team-selector.svelte";
    import Alerts from "$lib/dashboard/alerts/alerts.svelte";

    let teams:Writable<string[]> = writable(["red"])
    const handleTeamChange = (team:string[])=>{
      teams.set(team)
    }


  onMount(async()=>{
    
  })


</script>



<div class="p-8 pt-4  h-full">
<DashboardHeader  />
<div class="flex gap-8 w-full  flex-col 2xl:flex-row justify-between">
  <div class=" flex flex-col justify-between">
    <Tiles />
    <TeamSelector on:teamsChanged={(event) =>handleTeamChange(event.detail)} />
  </div>
  <div class=" flex-1 ">
    <Alerts />
  </div>
</div>
  <div class="flex flex-col gap-6   mt-3">
    <GraphAndStatsTile measurment_unit="°C" graph_type="TEMPERATURE" teams={teams}/>
    <GraphAndStatsTile measurment_unit="%" graph_type="HUMIDITY" teams={teams}/>
  </div>
</div>




