<script lang="ts">
    import { onMount } from "svelte";
    import {loadLogs } from "./logLoader"
    import { writable, type Writable } from "svelte/store";
    type Log = {
            CreatedAt: string,
           Emitter: string,
           Content: string,
    }

  let logs: Writable<Log[]> = writable([])
  onMount(async()=>{
    const _logs=await loadLogs()
    logs.set(_logs)

    // console.log("logs", logs)
  })
</script>

<div class="text-3xl dark:text-light mb-5">Logs</div>
<div class="flex flex-col gap-2">
{#each $logs as log }
  <div class="p-2 border-b-2 border-b-secondary-dark dark:text-text-dark">{log.Emitter} | {log.Content}</div>
{/each}
</div>
