<script>
    import { onMount } from "svelte";
    import {login, loginFailed} from "../loging-in"
  
  $: username = '';
  $: password = '';

</script>
<div class="relative w-screen h-screen">
  <div class="gap-3 flex items-center justify-center  flex-col absolute top-0 start-0 right-0 bottom-0 px-9 pt-16 pb-6 m-auto w-5/12 h-min rounded-lg dark:bg-secondary-dark">
    <div class="dark:text-text-dark mb-5 font-bold text-4xl">
      Login with credentials
    </div>
    <form class="flex flex-col w-full gap-3 items-center justify-center" on:submit={(e)=>{e.preventDefault();login(username,password)}}>
      <input bind:value={username}  type="text" placeholder="Username" class="input_style" />
      <input bind:value={password} type="password" placeholder="Password" class="input_style" />
      {#if $loginFailed}
        <span class=" dark:text-danger font-bold text-xl">Login failed</span>
      {/if}
      <button type="submit" class=" mt-3 mb-10 button_type_1 ">Login</button> 
    </form>
    <a href="/login-face" class="text-text-dark">Login with face...</a>

  </div>
</div>


