
<script lang="ts">

    import { onMount } from "svelte";
    import { makeGraph,
      setUpdateGraphWithWritable
    } from "./graphs";
    import type { TeamMeasurment } from "$lib/types/teamMeasurment.type";
    import type { Writable } from "svelte/store";
    import {teams} from "$lib/variables"

    export let graph_type:string;
    export let measurments:Writable<TeamMeasurment>
    let graphContainer:HTMLCanvasElement
    export let time_frame_hours:Writable<number> 
    const title = graph_type[0].toUpperCase() + graph_type.toLowerCase().slice(1)

  onMount(async()=>{
      const chart=makeGraph(graphContainer)
      teams.forEach((val, ind)=>{
          setUpdateGraphWithWritable(chart,measurments,title,val,ind)
      })
  })



</script>

  <div class="  w-full h-full flex-1 dark:text-light font-bold w-full flex justify-center">
      <div class="rounded-lg shadow-xl w-full h-auto dark:bg-secondary-dark p-4 px-7 col-span-9 md:col-span-9">
        <div class="text-xl">{title} history</div>
        <div class="h-96">
          <canvas class="" id="temp-graph"  bind:this={graphContainer}></canvas>
        </div>
        <div class="flex gap-3 justify-end items-center mt-2">
          <button class="btn btn-time" class:btn-time-active={$time_frame_hours==24*365}  on:click={() => time_frame_hours.set(24*365) }>Last year</button>
          <button class="btn btn-time" class:btn-time-active={$time_frame_hours==24}  on:click={() => time_frame_hours.set(24) }>Last day</button>
          <button class="btn btn-time" class:btn-time-active={$time_frame_hours==4}  on:click={() => time_frame_hours.set(4)} >4 hours</button>
          <button class="btn btn-time" class:btn-time-active={$time_frame_hours==0.5}  on:click={() => time_frame_hours.set(0.5)} >30 min</button>
          <button class="btn btn-time" class:btn-time-active={$time_frame_hours==0.083}  on:click={() => time_frame_hours.set(0.083)} >5 min</button>
          <button class="btn btn-time" class:btn-time-active={$time_frame_hours==0.01666}  on:click={() => time_frame_hours.set( 0.01666)}>1 min</button>
        </div>
      </div>
  </div>



<style lang="postcss">
  .btn-time {
    @apply bg-primary-dark rounded-lg text-text-dark font-bold text-xs py-1 px-4
  }
  .btn-time-active {
    @apply bg-accent-1 !important
  }
</style>
