<script lang="ts">
    import { writable, type Writable } from "svelte/store";


    import GraphHolder from "./graph-holder.svelte";
    import StatsPanel from "./statsPanel.svelte";
    import type { SensorReading } from "$lib/types/tempratureReading.interface";
    import type { TeamMeasurment } from "$lib/types/teamMeasurment.type";
    import { connectToSocket } from "$lib/websocket-connector";
    import { onDestroy, onMount } from "svelte";
    export let measurment_unit:string
    export let graph_type:string
    export let teams:Writable<string[]>
    let time_frame_hours:Writable<number> = writable(4)
    let connectedSockets:WebSocket[]= [];
    let updateCollisionBlock:boolean=false;
    let measurments = writable<TeamMeasurment>({
      red:[],
      blue:[],
      black:[],
      pink:[],
      yellow:[]
    })
    onDestroy(async()=>{
        if (connectedSockets.length>0){
            connectedSockets.forEach(s=>s.close())
            connectedSockets = []
        }
        measurments.set({red:[],blue:[],black:[],pink:[],yellow:[]})

    })

    onMount(async()=>{

        teams.subscribe((_)=>{
            updateMeasurments();
        })
        time_frame_hours.subscribe((_)=>{
            updateMeasurments();
        })
        async function updateMeasurments(){
          if (updateCollisionBlock) return
          updateCollisionBlock =true;
          if (connectedSockets.length>0){
            connectedSockets.forEach(s=>s.close())
            connectedSockets = []
          }
          measurments.set({red:[],blue:[],black:[],pink:[],yellow:[]})
          const promises =$teams.map((team)=>{
              const a=async ()=>{
                connectedSockets.push(connectToSocket(measurments,graph_type, $time_frame_hours,team))
              }
              return a()
          })
          await Promise.all(promises)

          updateCollisionBlock=false;

        }
    })

</script>

    <div class="grid  gap-3  grid-cols-1 2xl:grid-cols-7 gap-4 w-full">
      <div class="2xl:col-span-5 col-span-7">
        <GraphHolder graph_type={graph_type} measurments={measurments} time_frame_hours={time_frame_hours} />
      </div>
      <div class="2xl:col-span-2 col-span-7">
        <StatsPanel measurment_unit={measurment_unit} graph_type={graph_type} measurments={measurments} time_frame_hours={time_frame_hours} />
      </div>
    </div>
