<script lang="ts">
    import type { TeamMeasurment } from "$lib/types/teamMeasurment.type";
    import { teams } from "$lib/variables";
    import { onMount } from "svelte";
    import { derived, get, writable, type Writable } from "svelte/store";
    import { capitalize} from "$lib/util"
    import type { Readable } from "svelte/motion";
    import TeamDetail from "./team-detail.svelte";
    export let graph_type:string;
    export let measurments:Writable<TeamMeasurment>
    export let time_frame_hours:Writable<number> 
    export let measurment_unit:string
   
  onMount(async()=>{

  })
  const getDerivedLastMeasrument=(team:string):Readable<number>=>{
      const d=derived(measurments, meas=>{
        const last = meas[team].slice(-1)[0]
        if(!last) return ""
        return last['value']
      })
      return d
  }
  const getAllTeamMeasurments=(team:string):Readable<Object[]>=>{
      return derived(measurments, meas=>meas[team])
  }
  
  
</script>


<div class="rounded-lg  shadow-xl dark:bg-secondary-dark w-full h-full flex p-6 w-full" style="min-width: 320px;">
  <div class="dark:text-text-dark  text-3xl flex flex-col gap-2 w-full">
    <div class="text-base font-bold ">{capitalize(graph_type.toLowerCase())} detail</div>
    {#each teams as team }
    <div class="w-full  dark:bg-primary-dark" style="height: 2px;"></div>
      <TeamDetail time_frame_hours={time_frame_hours} measurment_unit={measurment_unit} measurments={getAllTeamMeasurments(team)} measurment={getDerivedLastMeasrument(team)} team={capitalize(team)} />
      
    {/each}

      
  </div>
</div>
