<script lang="ts">
    import { capitalize, getMaxArray , getMinArray, getAverageArray} from "$lib/util";

 export let measurment;
 export let measurments;
 export let team:string
 export let measurment_unit:string
 export let time_frame_hours
 function roundNum(num:Number){
  return num.toFixed(2)
 }
 function getTimeFromHours(hours:number){
    if (hours >1){
        return `${hours} hours`
    }else{
      return `${Math.round(hours*60)} ${Math.round(hours*60)===1? 'minute' :'minutes'}`
    }
 }
</script>





<div class="text-sm flex items-center gap-1">
<span class="flex border-2  border-primary-dark dark:bg-{team.toLowerCase()} rounded-full w-4 h-4 "></span> {capitalize(team)} data in last {getTimeFromHours($time_frame_hours)} :
</div>
<div class="gap-1 grid grid-cols-4 text-sm">
    {#if $measurment}
    <div class="flex flex-col items-start">
      <div>
        Current 
      </div>
      <div class="font-bold">
        {roundNum($measurment)} {measurment_unit}
      </div>
    </div>

    <div class="flex flex-col items-start">
      <div>
        Maximum
      </div>
      <div class="font-bold">
        {roundNum(getMaxArray($measurments))} {measurment_unit}
      </div>
    </div>
    <div class="flex flex-col items-start">
      <div>
        Minimum 
      </div>
      <div class="font-bold">
        {roundNum(getMinArray($measurments))} {measurment_unit}
      </div>
    </div>
    <div class="flex flex-col items-start">
      <div>
        Average
      </div>
      <div class="font-bold">
        {roundNum(getAverageArray($measurments))} {measurment_unit}
      </div>
    </div>
    {:else}
      No data
    {/if}

</div>
