<script>
    import { createEventDispatcher } from "svelte";
    import TeamButton from "./team-button.svelte";
    let selectedTeamsStates = {
      red: true,
      black: false,
      blue: false,
      pink: false,
      yellow: false
    } 
    
  const dispatch = createEventDispatcher()


    const dispatchSelectedTeams = ()=>{
      dispatch("teamsChanged", Object.keys(selectedTeamsStates).filter(key => selectedTeamsStates[key]))
    }
    


</script>
<div class="flex  flex-wrap mt-8 gap-1">

<TeamButton on:click={dispatchSelectedTeams}  bind:active={selectedTeamsStates.red} color="red" >Red</TeamButton>
<TeamButton on:click={dispatchSelectedTeams} bind:active={selectedTeamsStates.black} color="black" >Black</TeamButton>
<TeamButton on:click={dispatchSelectedTeams} bind:active={selectedTeamsStates.blue} color="blue" >Blue</TeamButton>
<TeamButton on:click={dispatchSelectedTeams} bind:active={selectedTeamsStates.pink} color="pink">Pink</TeamButton>
<TeamButton on:click={dispatchSelectedTeams} bind:active={selectedTeamsStates.yellow} color="yellow">Yellow</TeamButton>
 


<div class="dark:bg-red dark:bg-yellow dark:bg-pink dark:bg-blue dark:bg-black dark:border-red dark:border-yellow dark:border-pink dark:border-blue dark:border-black"></div>

</div>





