<script lang="ts">
    import { createEventDispatcher } from "svelte";

  export let color:string
  export let active:boolean
  const bg_class = "dark:bg-"+color

  const dispatch = createEventDispatcher()
  const handleClick = ()=>{
    active = !active
    dispatch("click")

  }
</script>
<div class="dark:border-primary-dark"></div>

<button  on:click={handleClick} class:btn-active={active} class="rounded-lg flex shadow gap-1 items-center btn-team-select">
  <div class="w-4 h-4  rounded-full border-2 dark:border-{color} {!active ? '' : bg_class}"></div>
  <div style="color: white;">
    <slot></slot>
  </div>
</button>

<style lang="postcss">
  .btn-team-select{
    @apply  brightness-50 text-sm text-text-dark border dark:border-primary-dark   py-2 px-6
  }
  .btn-active{
    @apply brightness-100 bg-secondary-dark dark:border-secondary-dark
  }
</style>
