<script lang="ts">
  import MdGraphicEq from 'svelte-icons/md/MdGraphicEq.svelte'
  import MdChangeHistory from 'svelte-icons/md/MdChangeHistory.svelte'
  export let color:string
  export let value:number|null = null
  export let label:string
  export let unit:string = ''
</script>


<div class="rounded-lg justify-center relative text-sm px-7 overflow-hidden gap-3 max-w-72 w-full h-24 flex flex-col {color}">
  <div class="dark:text-text-dark font-bold" style="z-index: 1;">{label}</div>
  <div class="dark:text-text-dark font-bold text-xl" style="z-index: 1;">{value??''} <span class="text-base">{unit??''}</span></div>
  {#if color === 'dark:bg-tile-red'}
    <div class="absolute w-28 dark:text-tile-red-mixed " style="z-index: 0;right: -0px; bottom: -10px">
    <MdChangeHistory class="" />
    </div>
  {:else}
    <div class="absolute w-28 dark:text-accent-1-mixed " style="z-index: 0;right: -0px; bottom: -10px">
    <MdGraphicEq class="" />
    </div>
  {/if}
</div>
