<script lang="ts">
    import { writable } from "svelte/store";


    import Tile from "./tile.svelte";
    import { onDestroy, onMount } from "svelte";
    import * as env from "$lib/variables"
    import {min_time_delta} from "$lib/websocket-connector"
    let measurments_count = writable(0)
    let timer: NodeJS.Timer
    onDestroy(()=>{
      clearInterval(timer)
    })
    onMount(async()=>{
      timer=setInterval(()=>{
        getMeasurmentCount()
      },2000)
    })
    function getMeasurmentCount(){
      fetch(`${env.HTTP_PROTOCOL}://${env.API_URL}/readings-count`).then(res=>((res.text()))).then((data)=>measurments_count.set(data))
    }

</script>


<div class="flex flex-wrap gap-6">
  <Tile 
  label="Total measurments"
  value={$measurments_count}
  color="dark:bg-accent-1"
  />
  <Tile 
  label="Last reading delta"
  value={$min_time_delta}
  color="dark:bg-tile-red"
  unit="milliseconds"
  />
  <!-- <Tile  -->
  <!-- label="Developed by @Team Red" -->
  <!-- value={null} -->
  <!-- color="dark:bg-tile-yellow" -->
  <!-- unit="Daniel Zierl & Marek Hanzl" -->
  <!-- /> -->
</div>
