<script lang="ts">

    import { onMount } from "svelte";
    import { loginFailed} from "../loging-in"
    import {setupFace, startTakingPictures} from "./face_login"
    import { writable } from "svelte/store";
    let video:HTMLVideoElement;
    export let images = writable([])
    export let blocked = writable(false)
    let picbutton:HTMLButtonElement

  
    onMount(()=>{
      setupFace(video)
    })

</script>


<div class="relative w-screen h-screen">
  <div class="gap-3 flex items-center justify-center   flex-col absolute top-0 start-0 right-0 bottom-0 px-9 pt-16 pb-6 m-auto w-9/12 h-min rounded-lg dark:bg-secondary-dark">
    <div class="dark:text-text-dark mb-5 font-bold text-4xl">
      Login with face
    </div>
    <div class="flex justify-center w-full">
      <div class="camera">
        <video bind:this={video} id="video">Video stream not available.</video>
      </div>
      <div id="canvas-holder" class="grid grid-cols-3 grid-rows-4 dark:bg-primary-dark w-4/12">
     </div>
     </div>
    {#if $loginFailed}
      <span class=" dark:text-danger font-bold text-xl">Login failed</span>
    {/if}
    {#if $blocked}
      <button type="button" disabled  class="disabled:opacity-50 mt-3 mb-10 button_type_1 "><span class="opacity-100">
        {#if $images.length < 8} 
          Taking pictures ({$images.length}/8)
        {:else}
        <div class="flex items-center justify-center gap-2">
            <span class="loader"></span>
            <span class="dark:text-text-dark">
            Loading, please wait
            </span>
        </div>
        {/if}
      </span></button> 
     
    {:else}
    <button   type="button" on:click={()=>startTakingPictures(images, blocked, video)} class="disabled:opacity-25 mt-3 mb-10 button_type_1 ">Login</button> 
    {/if}
    <a href="/login-base" class="text-text-dark">Login with credentials...</a>

  </div>
</div>


<style>
.loader {
    width: 20px;
    height: 20px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 
</style>
