@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html ,body{
  scroll-behavior: smooth;
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Roboto', sans-serif; */
}

.input_style {
  @apply dark:bg-primary-dark w-9/12 h-12 rounded-xl p-3 text-white;
}
.button_type_1 {
  @apply  px-8 py-2 rounded text-text-dark font-bold text-base dark:bg-accent-1 
}


